syncdata/SSOChangePassword.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ISSOChangePasswordService" targetNamespace="http://sso.kmss.landray.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sso.kmss.landray.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sso.kmss.landray.com/" xmlns:tns="http://sso.kmss.landray.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="changePassword" type="tns:changePassword"/>
<xsd:complexType name="changePassword">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="changePasswordResponse" type="tns:changePasswordResponse"/>
<xsd:complexType name="changePasswordResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="changePassword">
    <wsdl:part element="tns:changePassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISSOChangePassword">
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePassword" name="changePassword">
    </wsdl:input>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISSOChangePasswordServiceSoapBinding" type="tns:ISSOChangePassword">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISSOChangePasswordService">
    <wsdl:port binding="tns:ISSOChangePasswordServiceSoapBinding" name="ISSOChangePasswordPort">
      <soap:address location="https://1.1.1.14/sys/webservice/SSOChangePassword"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>